:root {
    --main-bg: #384B70;
    --main-prim: #507687;
    --main-highlight: #FCFAEE;
    --main-red: #B8001F;

    /* transparent */
    --bg80: hsla(220, 33%, 33%, 0.80);
    --bg50: hsla(220, 33%, 33%, 0.50);
    --bg30: hsla(220, 33%, 33%, 0.30);
    --bg10: hsla(220, 33%, 33%, 0.10);
    --prim80: hsla(199, 26%, 42%, 0.80);
    --prim50: hsla(199, 26%, 42%, 0.50);
    --prim30: hsla(199, 26%, 42%, 0.30);
    --prim10: hsla(199, 26%, 42%, 0.10);
    --highlight80: hsla(51, 70%, 96%, 0.80);
    --highlight50: hsla(51, 70%, 96%, 0.50);
    --highlight30: hsla(51, 70%, 96%, 0.30);
    --highlight10: hsla(51, 70%, 96%, 0.10);
    --red80: hsla(350, 100%, 36%, 0.80);
    --red50: hsla(350, 100%, 36%, 0.50);
    --red30: hsla(350, 100%, 36%, 0.30);
    --red10: hsla(350, 100%, 36%, 0.10);
}



* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    background-color: var(--main-highlight);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

nav {
    background-color: var(--main-bg);
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 20px;
    display: none; /* Hide all sections initially */
}

.section.active {
    display: block; /* Show active section */
}

.tableConfig {
    display: flex;
    margin-block: clamp(10px, 2vw, 20px);
    gap: 40px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}



.tableConfig button {
    border: none;
    padding-inline: clamp(10px, 5vw, 40px);
    padding-block: clamp(5px, 5vw, 10px);
    border-radius: 3px

}

.table-container {
    width: calc(100% - 40px);
    margin: 0 auto; 
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse; /* Remove gaps between cells */
    font-size: 14px; /* Adjust font size for better readability */
}

.tableContainer {
    overflow-y: auto;
    margin-inline: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
}

th {
    font-size: 15px;
    background-color: #f2f2f2;
    padding-block: 8px;
    padding-left: 5px;
    text-align: center;
    letter-spacing: clamp(1px, 5vw, 3px);
}

td {
    min-width: 80px;
    font-size: 12px;
    padding-top: 4px;
}

::selection {
    background-color: var(--main-bg); 
    color: var(--main-highlight); 
}

/* For webkit browsers (Chrome, Safari) */
::-moz-selection {
    background-color: #4CAF50; 
    color: white; 
}




.search-bar {
    margin-bottom: 10px;
    text-align: center;
}

div#headerInputs {
    display: flex;
    flex-direction: column;
}




.modal.dataModal,
div#columnModal{
    display: flex; /* Use flex to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed; /* Fixes the modal to the viewport */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    z-index: 9999; /* High z-index to be on top */
}

.modal-content {
    background: var(--main-prim); /* Background color for modal content */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside modal */
    max-width: 500px; /* Max width of modal */
    width: 100%; /* Responsive width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
}

/* To ensure the modal is hidden by default */
.modal {
    display: none; /* Keep hidden when not needed */
}























/* =======  Media Query ========== */
/* Style for smaller screens */
@media (max-width: 600px) {
    table, th, td {
        font-size: 12px; 
    }
    th, td {
        padding: 2px;
    }
}
